<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
</head>
<body>
    <h1>hola mundo en template</h1>
    <h2>{{data.bienvenida}}</h2>
    {% if data.n_temas!= 0 %}
    <ul>
        {% for t in data.temas %}
        <li>{{ t }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>no hay temas :( </h3>
    {% endif %}
    

</body>
</html>